{% extends "catalog.html" %}
{% block content %}

<style type="text/css">
 label {
  text-align: right;
  width: 100%;
  display: block;
  float: left;
  clear: left;
  margin-right: 10px;
  cursor: pointer
}
</style>



<div id="login" class="login_form">

<form enctype='multipart/form-data' action="." method="post"> {% csrf_token %}
<h1> Change Password </h1>
    <div class="formbody">

<table style="width:90%; text-align:center;">
    {% for field in form %}
<div class ="fieldwrapper">
            <tr style="height:50px">
		<td><label>{{ field.label_tag }}</label></td>
		<td>{{ field.errors }} <p>{{ field }}</p></td>
	   </tr>
</div>
    {% endfor %}

	<th colspan = "1"><td><div class ="button"><input type="submit" value="Change Password" class = 'positive' /></div></td></th>
</table>

</form>

</div></div>

{% endblock %}

