{% extends "catalog.html" %}
{% block content %}

<div id="product" class="product_form">
<div class ="data">

Nuaza is an online campus e-trading portal. Before you can start to utilize all the feaures that are built into the site, it is highly recommended to register for a local account. After registering for your free account, you can continue to edit your profile. <br/><br/>

Editing your profile will enable buyers of your commodities to easily reach you and pay for them. <br/><br/>


</div></div>



{% endblock %}

